.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.production
.env.django
!.env.example
tmp/

# python
__pycache__/
# built static files from Django
server/static/
migrations/
server/db.sqlite3

playwright/.auth