.DS_Store
node_modules
/build
/build_test
/.svelte-kit
/.svelte-test
/package
.env
.env.production
.env.test
.env.django
!.env.example
tmp/

# python
__pycache__/
# built static files from Django
server/static/
server/db*.sqlite3
# production settings
server/server/settings_prod.py
# for dev of the data transfer stuff (local only)
server/server/settings_xfer.py
# pre release settings
server/server/settings_pre.py
# a file that changes frequently and is only used for development
utility.ipynb

# testing
playwright/.auth
tests/data/exclude.json
test-results/

# database port data
server/game/port_data/