.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.production
.env.test
.env.django
!.env.example
tmp/

# python
__pycache__/
# built static files from Django
server/static/
server/db*.sqlite3
# production settings
server/server/settings_prod.py

playwright/.auth