[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
whitenoise = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pandas = "*"
requests = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
