[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
channels = {extras = ["daphne"], version = "*"}
fuzzywuzzy = "*"
python-levenshtein = "*"
pandas = ">=2.1"
requests = "*"
django-environ = "*"
psycopg2 = "*"
channels-redis = "<=3.4.1"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
"backports.weakref" = "*"
codename = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
redis = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
