# service file for the Trivia Mafia Django API

[Unit]
Description=TM Django API
# is this necessary?
After=network.target

[Service]
Type=simple
Group=todd
User=todd

WorkingDirectory=/home/todd/dev/tm-svelte/server
ExecStart=/home/todd/.local/virtualenvs/share/tm-svelte-bQq8cgGE/bin/daphne server.asgi:application
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target