# service file for the Trivia Mafia SvelteKit demo

[Unit]
Description=TM SvelteKit

[Service]
Type=simple
Group=cotn
User=todd

# match the proxy_pass host in the nginx config
Environment="HOST=127.0.0.1"
Environment="PORT=3050"

# match the server_name in the ngnix config
Environment="ORIGIN=https://tmstaging.codeofthenorth.com"

WorkingDirectory=/opt/tm-trivia
ExecStart=/home/todd/.nvm/versions/node/v16.18.1/bin/node build
# ExecStart=/home/triviamafia/.nvm/versions/node/v16.18.1/bin/node -r dotenv/config build
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target